#orderForm {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

#orderForm label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.checkout {
  display: flex;
  justify-content: space-between;
}

.cartButtons {
  text-align: right;
}
