@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#29251c, #2c2306);
  color: #d9e2f1;
  min-height: 100vh;
}

:root {
  --main-col: #ffc404;
}

.mb {
  margin: 0.5rem;
}

/********** DEFAULT CSS RULES ********/
button {
  border: none;
  cursor: pointer;
  padding: 0.5rem 1.2rem;
  border-radius: 0.2rem;
}

.btn {
  background: none;
}

.btn-cart {
  background: none;
  color: var(--main-col);
  font-size: 1.5rem;
  padding-right: 2rem;
}

.plus-minus button div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: white;
  background-color: black;
  border-radius: 50%;
  color: var(--main-col);
}

.btn-bg {
  background-color: var(--main-col);
}

.btn-back {
  background: none;
  font-size: 1.5rem;
}

button:disabled {
  /* Stili per il bottone disabilitato */
  color: #666666; /* Grigio scuro */
  cursor: not-allowed; /* Cambia il cursore per indicare che l'azione non è permessa */
}

li {
  list-style: none;
}

.user-detail {
  padding: 0.5rem 0;
}

.user-detail input {
  width: 100%;
  max-width: 20rem;
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}

.user-detail.short {
  width: 12rem;
  margin: 0 1rem 0.5rem 0;
  display: inline-block;
}

.error {
  text-align: center;
  background-color: #f44336;
  color: white;
  padding: 0.5rem 0;
  width: 100%;
}

#success div {
  text-align: right;
}
